* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #7118ea, #a86dfc);
  color: white;
}

#navbar {
  width: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

#title {
  font-size: 20px;
  font-weight: bold;
}

.icons-nav {
  display: flex;
}

#profile,
#notifications {
  padding: 10px 10px 6px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
}

#main {
  display: flex;
  padding: 100px 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 50px);
  color: white;
}

.player {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 170px);
  overflow-y: auto;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.current-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#album-art {
  width: 500px;
  height: 500px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 8px;
}

.track-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#track-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  padding: 10px;
}

#artist-name {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 10px;
}

.playlist {
  width: 50%;
  padding: 0 20px 20px 20px;
  overflow-y: auto;
}

.playlist-info {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 100;
  padding: 20px 20px 20px 20px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

#playlist-art {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.track-image {
  margin-right: 10px;
  width: auto;
  height: 50px;
  border-radius: 4px;
}

.track-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.track {
  font-size: 16px;
  font-weight: bold;
}

.artist {
  font-size: 14px;
  color: #ddd;
}

.duration {
  margin-left: auto;
  white-space: nowrap;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

li button img {
  width: 18px;
  height: 18px;
}

li button:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

audio {
  width: 100%;
  border: none;
  outline: none;
}

#playlist-owner {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 20px;
}

li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.active-track {
  background: rgba(255, 255, 255, 0.2);
}

.playlist::-webkit-scrollbar {
  width: 8px;
}

.playlist::-webkit-scrollbar-track {
  background: #414141;
}

.playlist::-webkit-scrollbar-thumb {
  background: #525252;
}

.playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlist {
  scrollbar-width: thin;
  scrollbar-color: #888 #616161;
}

.playlist:hover {
  scrollbar-color: #555 #303030;
}

.playing-gif {
  height: 30px;
  vertical-align: middle;
}

.track-number {
  width: 50px;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.controls button img {
  width: 24px;
  height: 24px;
}

.controls button:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

#progress-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

#progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #7118ea;
  border-radius: 50%;
  cursor: pointer;
}

#progress-bar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #7118ea;
  border-radius: 50%;
  cursor: pointer;
}

#current-time,
#duration {
  font-size: 14px;
  color: #ddd;
}

#current-time {
  margin-right: 10px;
}

#duration {
  margin-left: 10px;
}
