* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

#navbar {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#title {
  font-size: 20px;
  font-weight: bold;
}

#search-bar {
  width: 500px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

#profile,
#notifications {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

#main {
  display: flex;
  padding: 100px 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 50px);
}

.player {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 70px;
  height: calc(100vh - 140px);
  overflow-y: auto;
  display: none;
}

.current-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#album-art {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 8px;
}

.track-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#track-name {
  font-size: 20px;
  font-weight: bold;
}
.playlist-info {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: white; /* Add a background color to avoid transparency issue */
  z-index: 10; /* Ensure it stays above other elements */
  margin-bottom: 0; /* Ensure no bottom margin pushes it down */
  padding: 10px; /* Adjust padding as necessary */
}
#artist-name {
  font-size: 16px;
  color: #666;
}

.playlist {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.playlist h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#playlist-art {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.track-image {
  margin-right: 10px;
  width: auto;
  height: 50px;
  border-radius: 4px;
}

.track-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.track {
  font-size: 16px;
  font-weight: bold;
}

.artist {
  font-size: 14px;
  color: #666;
}

.duration {
  margin-left: auto;
  white-space: nowrap;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

li button img {
  width: 18px;
  height: 18px;
}

li button:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

audio {
  width: 100%;
  border: none;
  outline: none;
}

#playlist-owner {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

li button:hover {
  scale: 2x;
}

li:hover {
  background-color: lightgray;
}

.active-track {
  background-color: lightgray;
}

/* Thin and decent scrollbar style */
.playlist::-webkit-scrollbar {
  width: 8px;
}

.playlist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.playlist::-webkit-scrollbar-thumb {
  background: #888;
}

.playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox scrollbar style */
.playlist {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Firefox scrollbar thumb on hover */
.playlist:hover {
  scrollbar-color: #555 #f1f1f1;
}

.playing-gif {
  height: 30px; /* Ensure the height matches your requirement */
  vertical-align: middle; /* Vertically align the GIF with the text */
}

.track-number {
  width: 50px;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
